/* Cabeçalho da página*/
body {
    background-color: #121212;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;

}

header {
    /* position: fixed; */
    border-bottom: 1px solid #bb86fc;
    background-color: #121212;
    position: sticky;
    top: 0;
}

.nav {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav-list {
    font-size: 1, 8em;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-list li {
    display: flex;
    padding-left: 10px;
    list-style: none;

}

.nav a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    color: #bb86fc;
}

/* One Section */

.presentation h3 {
    color: white;
    font-size: 3em;
}

.presentation a {
    text-decoration: none;
    color: #bb86fc;
    opacity: 0.8;
}

.presentation a:hover {
    opacity: 1;
}

.section-1 {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.profile-img {
    width: 300px;
    border-radius: 100%;
    border: 3px solid #bb86fc;
}

h4 {
    color: #ffffff;
    font-size: 1, 5em;
    opacity: 60%;
}

.presentation p {
    color: #ffffff;
    opacity: 50%;
    margin-top: -20px;
}


/* abo.about */

.about-h4 {
    margin-top: 15px
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about h4 {
    color: #ffffff;
    font-size: 2em;
}

#about p {
    text-align: center;
    margin-top: -20px;
    color: #ffffff;
    opacity: 50%;
    width: 320px;

}

.section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.h4 {
    color: #ffffff !important;
    font-size: 2em;
    margin-bottom: 10px;

}

#skills {
    display: flex;
}

#skills h5 {
    color: #ffffff;
    font-size: 1.1em;
    /* text-align: center; */
    opacity: 90%;
    margin-top: 10px;
}

#skills ul {
    text-decoration: none;
    margin-top: -20px;

}

#skills li {
    color: #ffffff;
    opacity: 50%;

}

.section-3 h4 {
    color: #ffffff;
    font-size: 2em;
    text-align: center;
}

#projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-bottom: 40px;

}

.div-img {
    width: 200px;
    height: 220px;
}

.project-img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    border: 3px solid #bb86fc;
}

/* .project-img:hover {
    width: 400px;
} */

.content {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;

}

.content h5 {
    color: #bb86fc;
    margin-left: 20px;
    font-size: 1em;
    margin-top: -5px;
}

.content p {
    margin-top: -10px;
    color: #ffffff;
    opacity: 50%;
    font-size: 1em;
    text-align: center;
}

.content a {
    text-decoration: none;
    color: #bb86fc;
    opacity: 0.7;

}

.content a:hover {
    opacity: 1;
}

.tec {
    margin-left: 20px;
}

.content li {
    margin-top: -5px;
    color: #ffffff;
    opacity: 50%;
}

.line {
    height: 230px;
    width: 2px;
    background-color: white;
    opacity: 10%;
}

i {
    color: white;
    padding: 10px;
    opacity: 0.8;
}

i:hover {
    color: #bb86fc;
}

@media (max-width: 480px) {

    body {
        width: 95%;
    }

    header {
        display: none;
    }

    .section-1 {
        display: flex;
        flex-direction: column;
        margin-top: -25px;
        justify-content: center;
        align-items: center;
    }

    .profile-img {
        margin-top: 20px;
        width: 200px;
    }

    #contacts {
        order: 3;
    }

    .presentation h3 {
        font-size: 2.3em;
    }

    .section-2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    #skills {
        display: flex;
        justify-content: center;
        opacity: 0.5;
    }

    .section-3 h4 {
        margin-bottom: 70px;
    }

    #projects {
        display: flex;
        flex-direction: column;
    }

    .content {
        margin-top: -40px;
    }

    .content .tec {
        font-size: 0.8em;
    }

    .project-content p {
        margin-left: 10px;
    }

    .line {
        display: none;
    }
}

@media (max-width: 800px) {
    body {
        width: 90%;
    }

    .line {
        display: none;
    }
}